.btcTrackerContainer {
  max-width: 840px;
  margin: auto;
  padding: 1rem;

  .latestPrice {
    margin-bottom: 1.5rem;
    .currentPrice {
      display: flex;
      gap: 0.5rem;
      align-items: flex-start;
      h1 {
        font-size: 70px;
        margin: 16px 0;
        width: fit-content;
        font-weight: 500;
      }
      p {
        font-size: 24px;
        color: #bdbebf;
        margin-top: 36px;
      }
    }
    .priceChanges {
      font-weight: 400;
      font-size: 18px;
      margin: 0;
    }
    .negative {
      color: rgb(242, 54, 54);
    }

    .positive {
      color: #67bf6b;
    }
  }
}
